<!DOCTYPE html>
<html>
   <head>
      <title>Hello and Welcome to All Things Black</title>
      <style>
         table {
            /* box-sizing: border-box; */
            text-align: right;
            }
      </style>
   </head>
   <body>
      <nav>
         <table class = "menu">
            <tbody>
               <tr> Beauty </tr>

               <tr> Events </tr>

               <tr> Food </tr>
            </tbody>
         </table>
      </nav>
      {% if (1 > 0): %}
         {{'%s' % main2}}
      {% endif %}
      {% include 'footer.html' %}
   </body>
</html>