html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; }
h1 {
    text-align: center;
    color:#c38d7c;
    font-weight: 500;
    font: Times New Roman;
    }
 h2 {
    text-align: center;
    }
 body {
    /* background-color: black; */
    background-image: url('/All-Things-Black/IMG-6047.jpg');
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position: center; */
    /* background-size: cover; */
    }
 .center{
    top: 50%;
    left: 50%;

    }